_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
install/
build/
log/
nohup.out
_site/
src/python_example
src/c_example
src/.idea/
.idea
eeprom.bin
logs/
mav.parm
mav.tlog
mav.tlog.raw
src/asv_loyola_us/asv_loyola_us/submodulos/__pycache__/
src/asv_loyola_us/asv_loyola_us/__pycache__/
*.pyc
